// Config file for nextflow pipeline

// Enable using specific docker container
process.container = 'john2018330/lobeliad_phylogenomics:0.1'
docker.enabled = true

// Allow docker to run with user permissions]
// TO DO: NEED TO FIX THIS!
// docker.runOptions = '-u $(id -u):$(id -g)'
docker.runOptions = '--user root'

//
// Pipeline parameters
//
params {
    // General parameters
    reads           = "$projectDir/data/"
    outdir          = "$projectDir/results/"

    // Quality control
    trimmomatic_adapter = "$projectDir/TruSeq3-PE.fa"
}


//
// Set up output directory options 
// TO DO: add more customizability
//
process { 
    publishDir = [
        path: "${params.outdir}"
    ]
    
    withName: 'TRIMMOMATIC' {
        publishDir = [
            path: "${params.outdir}/trimmed_reads"
        ] 
    }

    withName: 'FASTQC' {
        publishDir = [
            path: "${params.outdir}/QC/fastqc"
        ]
    }
}


//
// Set up computer resource options following nf-core labeling
// TO DO: These are all obviously specific to my local machine, expand to work on HPC's and include time
//

executor {
    $local {
        cpus = 14
        memory = '28 GB'
    }
}

process {
    cpus = 1
    memory = 2G

    withLabel:process_low {
        cpus   = 2
        memory = 4G
    }

    withLabel:process_medium {
        cpus = 6
        memory = 12G
    }
    
    withLabel:process_high {
        cpus = 12
        memory = 24G
    }
    
    withLabel:process_high_mem {
        memory = 28G
    }
}
